/* Product Section */

#productSection {
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
}
.slick-prev::before, .slick-next::before{
  color: #4d97e1;
}
#productHeading {
  font-size: 48px;
  color: crimson;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#productHeading:hover {
  transform: scale(1.1);
}

.product-slider {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#explorebtn {
  margin-top: 50px;
  background-color: #4d97e1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#explorebtn:hover {
  background-color: #376ba1;
  transform: scale(1.05);
}

.product-card {
  background: #f4f4f9;
  border-radius: 10px;
  border: 1px solid gray;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

/* .product-card:hover {
 
  transform: translateY(-10px);
} */

.product-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.product-content {
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.product-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 18px;
  color: #777;
  line-height: 1.5;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  #productSection{
    margin-top: 80px;
  }
  
  .product-slider {
      display: block;
  }

  .product-card {
      width: 100%;
      height: auto;
      margin: 10px 0;
  }

  .product-content {
      padding: 15px;
  }

  #productHeading {
      font-size: 30px;
  }

  .product-title {
      font-size: 18px;
  }

  .product-description {
      font-size: 14px;
  }
}
